 
 <form action="/teams/<%= @team.id %>" method="post">
   <input id="hidden" type="hidden" name="_method" value="patch">
     <h2>Team Name:</h2><input type="text" name="name">
      <h3>Sport:</h3><input type="text" name="sport_type">
    <input type="submit" value="Submit">
  </form>