<h1>Add Your Team:</h1>
<form action="/teams" method="post">
<h2>Team Name:</h2><input type="text" name="name">
<h3>Sport:</h3><input type="text" name="sport_type">
<input type="submit" name="submit" value="Submit">
</form>
