/* Global Styles */

body {
  width: 90%;
}

header {
  text-align: center;
 }

 ul li {
   list-style-type: none;
 }

a {
  text-decoration: none;
  color: black;
 }

a:hover {
  color: blue;
  text-decoration: underline;
 }

footer {
  margin-top: 20%;
  text-align: center;
}

section {
  text-align: center;
}

h1 {
  color: blue;
}

/* Login Page */

#login h2 {
  padding-right: 15%;
  color: blue;
}

#login form #submit {
  margin-top: 2%;
}

/* Signup Page */

section form #submit {
  margin-top: 2%;
}
