<h1>Please Update Your Information:</h1>

<form action="/athletes/<%= @athlete.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  Name:<input type="text" name="name" value="<%= @athlete.name %>"> <br>
  <br>
  Email:<input type="text" name="email"> <br>
  <br>
  Password:<input type="password" name="password"> <br> <br>
  Age:<input type="text" name="age"><br> <br>
  Height:<input type="text" name="height"><br> <br>
  Weight:<input type="text" name="weight"><br> <br>
  Achievements:<input type="text" name="achievement"><br> <br>
  <input type="submit" value="submit">
</form>
