<h2>Signup:</h2>
 <ul>
   <form class="" action="/signup" method="post">
      <li>Name:<input type="text" name="name" ></li>
      <li>Email:<input type="text" name="email"></li>
      <li>Password:<input type="password" name="password"></li>
      <li>Age<input type="text" name="age" ></li>
      <li>Weight:<input type="text" name="weight"></li>
      <li>Height:<input type="text" name="height"></li>
      <li>Achievements:<input type="text" name="achievement"></li>
    <input id="submit" type="submit" value="Submit">
  </form>
</ul>
