<h2>Signup:</h2>
<form class="" action="/signup" method="post">
  Name: <input type="text" name="name" >
  Email: <input type="text" name="email">
  Password:  <input type="password" name="password">
  Age: <input type="text" name="age" >
  Weight: <input type="text" name="weight">
  Height:  <input type="text" name="height">
  Achievements: <input type="text" name="achievement">
  <!--- Add checkboxes here for sports type to choose CREATE NEW TEAM HERE?????-->
  <input type="submit" value="Submit">
</form>
