<section>
  <h2>Signup:</h2>
    <form class="" action="/signup" method="post">
      <h3>Name:</h3><input type="text" name="name" >
      <h3>Email:</h3><input type="text" name="email">
      <h3>Password:</h3><input type="password" name="password">
      <h3>Age:</h3><input type="text" name="age" >
      <h3>Weight:</h3><input type="text" name="weight">
      <h3>Height:</h3><input type="text" name="height">
      <h3>Achievements:</h3><input type="text" name="achievement"><br>
      <input id="submit" type="submit" value="Submit">
    </form>
</section>
