<section>
  <h1>Welcome to your Home Stadium</h1>
  <button type="button" name="button"><a href="/signup">Athlete Signup</a></button>
  <button type="button" name="button"><a href="/login">Athlete Login</a></button>
</section>
