<!doctype html>
<html>
  <head>
    <title>Sports Park City</title>
  </head>
  <body>

  <header>
    <h1>Sports Park City</h1>
      <h3>Where Athletes in your Community come to Connect</h3>
      <!--- Add nav here later to with signup and login --->
  </header>

   <%= yield %>

   <footer>Sports Park City - All Rights Reserved - Copyright &copy; 2019 </footer>
   </body>
 </html>
